* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
  background: white;
}

/* Angaben zum genrellen Layout */


.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;

}

.row {
  display: inline-block;
  width: 100%;
  padding: 1em;
}


/* Angaben zum Logo */

.name {
  display: auto;
  width: 100%;
  color: black;
  margin-bottom: 2em;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, Light, sans-serif;
}



.main-nav,
.main-nav__list {
  width: 100%;
  text-align: center;
}

.main-nav__list {
  padding: 0;
  margin: 0;

}

.main-nav__list__item {
  list-style: none;
}



@media only screen and (min-width: 720px) {
  .main-nav__list__item {
    display: inline-block;
  }
}

.main-nav__list__item a {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.main-nav__list__item a:hover,
.main-nav__list__item a.active {
  background: black;
  color: white;

}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
